@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --backgroundColor: #0f0f0f;
  --text-primary: #f1f1f1;
  --menu-background: #282828;
  --hover:#8a888852;
  --text-secondary: #aaa;

}

*{
  margin: 0;
  padding: 0; 
  font-size: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
}
body{
  position: relative;
  background-color: var(--backgroundColor);
}
header{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: var(--backgroundColor);
  color: var(--text-primary);
  padding: 10px;
  position: fixed;
  z-index: 110;
  width: 100%;
}
header .left{
  display: flex;
  
}
header .left i{
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  margin-left: 8px;
}

header .left svg{
  fill: var(--text-primary);
  margin-left: 16px;
}


header .left span{
  color: grey;
  font-size: 7px;
  margin-top: 5px;
  margin-right: 8px;
}

header .middle{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 632px;
}
.middle{
  flex: 1;
}
.middle .search{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--menu-background);
  border-radius: 25px;
  overflow: hidden;
  position: relative;

}
#search{
    padding: 5px 15px;
    margin: 0;
    width: 90%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    outline: none;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
#search:active, #search:active, #search::placeholder{
  background-color: var(--backgroundColor);
}

.middle .search i{
  background-color: var(--menu-background);
  height: 36px;
  text-align: center;
  align-content : center;
  padding: 0px 20px;
  font-size: 1.7rem;
}

.middle > i,.right > i{
  background: var(--menu-background);
  margin-left: 20px;
  border-radius: 50%;
  font-size: 1.7rem;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}


.right{
  display: flex;
  align-items: center;
  position: relative;
}
.right .create{
  background: var(--menu-background);
  padding: 5px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-left: 4px;

}
.right .create > i{
  font-size: 15px;
  margin-right: 5px;
}
.create span{
  font-size: 15px;
}

.right img{
  width: 30px;
  border-radius: 50%;
  margin: 0 8px;
}

.right > i{
  background: none;
  margin: auto;
}

.left>i:hover, header>.left>svg:hover, .create:hover, .middle>i:hover, .right>i:hover{
 background-color: var(--hover);
 cursor: pointer;
 color: var(--text-secondary);
}
.middle .search i:hover,.right>img:hover{
  cursor: pointer;
  color: var(--text-secondary);
}
.contant{
  display: flex;
}
aside{
  display: flex;
  flex-direction: column;
  background: var(--backgroundColor);
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 70px;
  position: sticky;
  z-index: 100;
  top: 60px;
}
.click{
  display: flex;
  flex-direction:row;
  color: var(--text-primary);
  align-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  padding-left: 13px;
  width: 200px;
  transition: 0.2s ease-in-out;
}
.click:hover, .menu:hover {
  cursor: pointer;
  background-color: var(--hover);
  border-radius: 10px;
  padding: 10px;
  max-width: 150px;
  color: var(--text-secondary);
}
.click p{
  margin-left: 20px;
  font-size: 15px;
}
.menu{
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  justify-content: center;
  align-items: center;
  margin: 15px 14px;
  text-align: center;

  transition: 0.2s ease-in-out;
}

.menu svg{
  fill: var(--text-primary);
  margin: 5px 0;
}
.hide{
  display: inherit;
}
main{
  display: grid;
  background-color: var(--backgroundColor);
  margin-top: 60px;
  padding-right: 10px;
  width: 100%;
  padding-left: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
 
}


.videoContainer{
  margin: 10px;
}
.img-container{
  position: relative;
}
.img-container img{
  width: 100%;
  border-radius: 10px;
}
.duration{
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--text-primary);
  font-weight: bold;
  background-color: var(--menu-background);
  padding: 2px;
}
.video-description{
  display: flex;
  margin-top: 10px;
}
.video-description img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.text{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.video-title{
  color: var(--text-primary);
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
}
.channel-name, .video-publish-date{
  color: var(--text-secondary);
  font-size: 12px;
  margin: 2px;
}

.upload-form{
  display: none;
  background-color: var(--backgroundColor);
  position: fixed;
  top: 60px;
  right: 6px;
  z-index: 10000;
  padding: 20px;
  max-width: 250px;
  border-radius: 10px;
  border: 1px solid var(--text-primary);

}
.upload-toggle{
  display: inherit;
}

#submit{
  width: 60%;
  margin: 8px auto;
  border: none;
  outline: none;
  padding: 5px 0px;
  border-radius: 5px;
  background-color: var(--hover);
  color: var(--text-secondary);

  &:hover{
    cursor: pointer;
    background-color: var(--text-secondary);
    color: var(--backgroundColor);
  }
}
input {
	appearance: none;
	border-radius: 0;
}
.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: var(--hover);
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 0.1px solid var(--hover); 
	font: inherit;
  color: var(--text-primary);
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: var(--text-primary);
		&+.input-label {
			color: var(--text-secondary);
			transform: translateY(-1.5rem);
		}
	}
}

@media screen and (max-width: 699px) {
  body{
    position: relative;
  }
  aside{
    width: 100%;
  }
  aside.mobile-aside{
    display: flex;
    flex-direction: row;
    max-width: 699px;
    position: fixed;
    z-index: 100;
    bottom: 0;
    top: auto;
    height: 60px;
  }
  aside.mobile-aside .menu{
    bottom: 1px;
    flex: 1;
  }

  aside.mobile-aside .menu svg{
    font-size: 1.3rem;
    margin: 0;
  }
  .left i{
    display: none;
  }
  
  main{
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 526px){
  .middle .mic, .right > i, .right img{
    display: none;
  }
  #theme{
    display: inherit;
    margin: 0 8px;
  }
  
}
@media screen and (max-width: 376px){
  .middle .fa-microphone, .create span{
    display: none;
  }
  .right .create{
    margin-left: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right .create .fa-bell{
    margin: 0;
    padding: 0;
  }
}